<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />
    <!-- Bootstrap core CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Material Design Bootstrap -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/css/mdb.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/adminblogs.css" />
    <title>Blog | Opdemy</title>
  </head>
  <body>
    <div class="container-fluid">
      <!-- Navigation-2 -->
      <nav class="navbar top-nav justify-content-between" id="navbar">
        <button
          class="navbar-toggler hidden-sm-up"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
        >
          &#9776;
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="row">
            <div class="col-sm-12 nav-2">
              <div class="create-blog-conatiner">
                <div class="redirect ">
                  <a href="/blogOpdemy">Home</a>
                </div>
                <div class="redirect ">
                  <a href="/blogentry/<%= adminId  %>">Create Blog</a>
                </div>
                <div class="redirect ">
                  <form
                    class="redirect "
                    action="/logout?_method=DELETE"
                    method="POST"
                  >
                    <button type="submit" class="buttonl">Log out</button>
                  </form>
                </div>
              </div>
              <form class="form-inline my-2 my-lg-0">
                <input
                  class="form-control mr-sm-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button class="btn my-2 my-sm-0" type="submit">
                  Search
                </button>
              </form>
            </div>
          </div>
        </div>
      </nav>

      <!-- whole body of the blog page -->
      <div class="whole-container">
        <div class="row full-container">
          <!-- latest updated section -->
          <div class="col"></div>
          <div class="col-lg-6 col-sm-12 latest-blogs">
            <!-- Header For Latest Blog Cards -->
            <div>
              <div class="row">
                <div class="col-sm-12 blog-header">
                  <h2>Blogs by you!</h2>
                </div>
              </div>
            </div>

            <!-- Blog cards -->
            <div class="blog-cards">
              <div class="row">
                <div class="col"></div>
                <div class="col-lg-8 col-sm-12">
                  <% for (var i in blog) { %>
                  <!-- card 1 -->
                  <div class="row blogcard">
                    <!-- <div class="col-lg-5 col-sm-12 blog-image-container">
                      <img
                        src="/images/scholarship.jpg"
                        alt="sch"
                        class="blog-image"
                      />
                    </div> -->
                    <div class="col-lg-7 col-sm-12 blog-column">
                      <h2><%= blog[i].title %></h2>
                      <p>
                        <%= blog[i].blogContent.substring(0,300) %>...
                      </p>
                    </div>
                    <div class="blog-navigation-buttons">
                      <div class="button">
                        <a
                          type="submit"
                          href="/updateblog/<%= JSON.parse(blog[i].adminID) %>/<%= JSON.parse(blog[i].Id) %>"
                          class="btn btn-outline card-button"
                        >
                          Edit this Blog
                        </a>
                      </div>
                      <div class="button">
                        <a
                          type="submit"
                          href="/blogPage/<%= JSON.parse(blog[i].Id) %>"
                          class="btn btn-outline card-button"
                        >
                          View this Blog
                        </a>
                      </div>
                    </div>
                  </div>
                  <% } %>
                </div>
                <div class="col"></div>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
      </div>

      <!-- Footer -->
      <div class="footer">
        <div class="row">
          <div class="col"></div>
          <div class="col-lg-6 col-sm-12">
            <h5>Copyright © 2019. All Rights Reserved.</h5>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>

    <script>
      window.onscroll = function() {
        myFunction();
      };

      var navbar = document.getElementById("navbar");
      var sticky = navbar.offsetTop;

      function myFunction() {
        if (window.pageYOffset >= sticky) {
          navbar.classList.add("sticky");
        } else {
          navbar.classList.remove("sticky");
        }
      }
    </script>
  </body>
</html>
